<footer class="footer">
  <p class="footer__title">Tecnologías</p>
  <div class="footer__tech">
    <img
      class="footer__tech-icon"
      src="./assets/images/html.svg"
      alt="html logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/css.svg"
      alt="css logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/sass.svg"
      alt="sass logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/ngp.svg"
      alt="npm logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/javascript.svg"
      alt="javascript logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/react.svg"
      alt="react logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/nodejs.svg"
      alt="node logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/git.png"
      alt="git logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/github.svg"
      alt="github logo"
    />
    <img
      class="footer__tech-icon"
      src="./assets/images/gulp.png"
      alt="gulp logo"
    />
  </div>
</footer>
