<main class="main__about">
  <section class="about">
    <h2 class="about__title">Sobre mí</h2>
    <h3 class="about__subtitle">Hola, soy Elena. ¡Encantada de conocerte!</h3>
    <div class="about__wrap">
      <img
        src="./assets/images/photo.png"
        alt="Foto personal"
        class="about__wrap--photo"
      />

      <div>
        <p class="about__wrap--text">
          👩🏻‍💻 Mis ganas de crecer y de sentirme más realizada profesionalmente me
          hicieron adentrarme de lleno en la programación.
        </p>
        <br />
        <p class="about__wrap--text">
          🚀 ¿Qué fue lo que más me atrajo de este mundo? Trabajar en equipo y
          de forma cooperativa, la novedad del día a día, los retos y la
          posibilidad de trabajar en entornos multidisciplinares.
        </p>
        <br />
        <p class="about__wrap--text">
          🌻 Me considero una persona con facilidad para el aprendizaje,
          flexibilidad, iniciativa propia y cómoda adaptación a cualquier
          situación.
        </p>
      </div>
    </div>
  </section>
</main>
