<main class="main__about">
  <section class="about">
    <h2 class="about__title">Sobre mí</h2>
    <h3 class="about__subtitle">Hola, soy Elena. ¡Encantada de conocerte!</h3>
    <div class="about__wrap">
      <img
        src="./assets/images/foto.jpg"
        alt="Foto personal"
        class="about__wrap--photo"
      />

      <div>
        <p class="about__wrap--text">
          Después de explotar mi lado más proactivo como profesora de Educación
          Infantil, decidí darle un giro a mi carrera profesional adentrándome
          en el mundo de la programación👩🏻‍💻.
        </p>
        <p class="about__wrap--text">
          Ilusionada por este nuevo viaje que comienza y con muchas ganas de
          encontrar una oportunidad 🚀.
        </p>
      </div>
    </div>
  </section>
</main>
