<main class="main">
  <section class="about">
    <h2 class="about__title">Sobre mí</h2>
    <h3 class="about__subtitle">Hola, soy Elena. ¡Encantada de conocerte!</h3>
    <p class="about__text">
      Después de explotar mi lado más proactivo y humano como profesora de
      Educación Infantil, decidí darle un giro a mi carrera profesional
      adentrándome en el mundo de la programación👩🏻‍💻.
    </p>
    <p class="about__text">
      Me considero una persona flexible, con facilidad para el aprendizaje,
      iniciativa propia y cómoda adaptación a cualquier rol. Facilidad para
      solventar situaciones complejas, control del tiempo y organización 🕒.
    </p>
    <p class="about__text">Ilusionada por este nuevo viaje que comienza 🚀.</p>
  </section>
</main>
