<section class="contact">
  <div class="contact__information">
    <h2 class="contact__information--title">¿Quieres hablar?</h2>
    <p class="contact__information--text">
      Si quieres hacerme cualquier tipo de consulta o simplemente pasabas a
      decir "Hola 👋🏻 ", estás en el lugar indicado.
    </p>
    <p class="contact__information--text">
      Aquí encontrarás todas mis redes para poder contactar conmigo.
    </p>
    <p class="contact__information--text">¡Te espero!</p>
  </div>
  <div class="contact__icons">
    <a
      target="_blank"
      href="https://twitter.com/marocena26"
      class="contact__icons--link"
      ><i class="fa-brands fa-twitter icons"></i>
      <p class="icons__text">Twitter</p></a
    >
    <a
      target="_blank"
      href="https://www.linkedin.com/in/maria-elena-arocena-lopez-/"
      class="contact__icons--link"
      ><i class="fa-brands fa-linkedin icons"></i>
      <p class="icons__text">Linkedin</p></a
    >
    <a
      target="_blank"
      href="https://github.com/marocena26"
      class="contact__icons--link"
      ><i class="fa-brands fa-github icons"></i>
      <p class="icons__text">Github</p></a
    >
    <a
      target="_blank"
      href="https://media.licdn.com/dms/document/C4D2DAQFbVuL58ME7dg/profile-treasury-document-pdf-analyzed/0/1675968634906?e=1677110400&v=beta&t=sjc97w9_oJEf7RBrjOwwmfnRYKHLXxW8OfofrMcwesQ"
      class="contact__icons--link"
      ><i class="fa-sharp fa-solid fa-address-card icons"></i>
      <p class="icons__text">CV</p></a
    >
  </div>
</section>
