<header class="header">
  <a href="./index.html" class="header__name">
    <h1 class="header__name--title">Home</h1>
  </a>
  <nav>
    <ul class="header__nav">
      <li class="header__nav--item">
        <a href="./about-me" class="header__nav--item-link">Sobre mí</a>
      </li>
      <li class="header__nav--item">
        <a href="./projects.html" class="header__nav--item-link">Proyectos</a>
      </li>
      <li class="header__nav--item">
        <a href="./contact.html" class="header__nav--item-link">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
