<header class="header__home">
  <a href="./index.html" class="header__home--name">
    <h1 class="header__home--name-title">Home</h1>
  </a>
  <nav>
    <ul class="header__home--nav">
      <li class="header__home--nav-item">
        <a href="./about-me.html" class="header__nav--item-link">Sobre mí</a>
      </li>
      <li class="header__home--nav-item">
        <a href="./projects.html" class="header__nav--item-link">Proyectos</a>
      </li>
      <li class="header__home--nav-item">
        <a href="./contact.html" class="header__nav--item-link">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
