<header class="header">
  <section class="header__section">
    <a href="./index.html" class="header__section--name">
      <h1 class="header-title">Elena Arocena</h1>
    </a>
    <nav class="header__section--nav">
      <ul class="nav__menu">
        <li class="nav__menu--item">
          <a href="./index.html#team" class="nav__menu--item-link">Home</a>
        </li>
        <li class="nav__menu--item">
          <a href="./index.html#about-us" class="nav__menu--item-link"
            >Sobre mí</a
          >
        </li>
        <li class="nav__menu--item">
          <a href="./contact.html" class="nav__menu--item-link">Proyectos</a>
        </li>
        <li class="nav__menu--item">
          <a href="./contact.html" class="nav__menu--item-link">Contacto</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
