<section class="section">
  <img src="" alt="Foto personal" class="section__img" />
  <h2 class="section__name">Elena Arocena</h2>
  <h3 class="section__job">Front-End Developer</h3>
  <div class="section__icons">
    <a target="" href="" class="section__icons--link"
      ><i class="fa-brands fa-twitter icons"></i
    ></a>
    <a target="" href="" class="section__icons--link"
      ><i class="fa-brands fa-linkedin icons"></i
    ></a>
    <a target="" href="" class="section__icons--link"
      ><i class="fa-brands fa-github icons"></i
    ></a>
  </div>
</section>
