<article class="projects__element">
  <a href="@@projectLink" target="_blank"
    ><img src="@@url" alt="@@alt" class="projects__element--img"
  /></a>
  <h4 class="projects__element--name">@@projectName</h4>
  <p class="projects__element--text">@@projectText</p>
  <div class="projects__element--links">
    <a class="projects__icon" href="@@projectRepo" target="_blank">
      <i class="fa-sharp fa-solid fa-code"></i>
    </a>
    <a class="projects__icon" href="@@projectLink" target="_blank">
      <i class="fa-solid fa-desktop"></i>
    </a>
  </div>
</article>
