<section class="projects">
  <h1 class="projects__title">Proyectos</h1>
  <div class="proyects__list">
    <include
      src="./projects-element.html"
      projectName="Rick & Morty - Character finder!"
      url=""
      alt="Rick & Morty"
      projectRepo="https://github.com/marocena26/rick-and-morty-character-finder"
      projectLink="https://marocena26.github.io/rick-and-morty-character-finder/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Breaking Bad Characters"
      url=""
      alt="Breaking Bad"
      projectRepo="https://github.com/marocena26/breaking-bad-characters"
      projectLink="https://marocena26.github.io/breaking-bad-characters/"
    ></include>
  </div>
</section>
