<section class="projects">
  <h1 class="projects__title">Proyectos</h1>
  <div class="projects__list">
    <include
      src="./projects-element.html"
      projectName="Rick & Morty"
      projectText="Personal | React · HTML5 · Sass | Responsive"
      url="./assets/images/rick-and-morty.png"
      alt="Rick & Morty"
      projectRepo="https://github.com/marocena26/rick-and-morty-character-finder"
      projectLink="https://marocena26.github.io/rick-and-morty-character-finder/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Breaking Bad Characters"
      projectText="Personal | JavaScript · HTML5 · Sass | Responsive"
      url="./assets/images/bb.jpg"
      alt="Breaking Bad"
      projectRepo="https://github.com/marocena26/breaking-bad-characters"
      projectLink="https://marocena26.github.io/breaking-bad-characters/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Algebraic profile-cards"
      projectText="Grupal | JavaScript · HTML5 · Sass | Responsive"
      url="./assets/images/coding-time.png"
      alt="profile-cards"
      projectRepo="https://github.com/marocena26/algebraic-profile-cards"
      projectLink="https://marocena26.github.io/algebraic-profile-cards/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="The codes gambit"
      projectText="Grupal | HTML5 · Sass | Responsive"
      url="./assets/images/gambit.png"
      alt="codes-gambit"
      projectRepo="https://github.com/marocena26/the-codes-gambit"
      projectLink="https://marocena26.github.io/the-codes-gambit/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Anonymous proxy"
      projectText="Personal | HTML5 · Sass | Responsive"
      url="./assets/images/proxy.png"
      alt="Anonymous-proxy"
      projectRepo="https://github.com/marocena26/anonymous-proxy"
      projectLink="https://marocena26.github.io/anonymous-proxy/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Los anillos de poder"
      projectText="Personal | JavaScript · HTML5 · CSS3 | Escritorio"
      url="./assets/images/anillos.png"
      alt="anillos-de-poder"
      projectRepo="https://github.com/marocena26/los-anillos-de-poder"
      projectLink="https://marocena26.github.io/los-anillos-de-poder/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Listado de Adalabers "
      url="./assets/images/list.png"
      alt="listado"
      projectText="Personal | React · HTML5 · CSS3 | Escritorio"
      projectRepo="https://github.com/marocena26/listado-de-adalabers"
      projectLink="https://marocena26.github.io/listado-de-adalabers/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="X-Hunters | Código refactorizado"
      url="./assets/images/heredado.png"
      alt="código-heredado"
      projectText="Personal | React · Node · Express · SQLite | Escritorio"
      projectRepo="https://github.com/marocena26/codigo-heredado-javascript-x-hunters"
      projectLink="https://marocena26.github.io/codigo-heredado-javascript-x-hunters/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Random colour generator"
      url="./assets/images/color.png"
      alt="random-colour"
      projectText="Personal | JavaScript · HTML5 · Sass | Responsive"
      projectRepo="https://github.com/marocena26/random-colour-generator"
      projectLink="https://marocena26.github.io/random-colour-generator/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Blow up this balloon!"
      url="./assets/images/balloon.png"
      alt="balloon"
      projectText="Personal | JavaScript · HTML5 · Sass | Responsive"
      projectRepo="https://github.com/marocena26/blow-up-this-balloon"
      projectLink="https://marocena26.github.io/blow-up-this-balloon/"
    ></include>
    <include
      src="./projects-element.html"
      projectName="Simple calculator!"
      url="./assets/images/calculator.png"
      alt="calculator"
      projectText="Personal | JavaScript · HTML5 · Sass | Responsive"
      projectRepo="https://github.com/marocena26/simple-calculator"
      projectLink="https://marocena26.github.io/simple-calculator/"
    ></include>
  </div>
</section>
