// fonts
$font-web: "Poppins", sans-serif;

// colors
$color-primary: white;
$color-secondary: black;
$color-background: #f0f1f3ff;
$color-hover: #535253ff;
$color-cards: rgba(217, 217, 217, 0.58);
$color-shadow: rgba(0, 0, 0, 0.22);
