// fonts
$font-web: "Poppins", sans-serif;

// colors
$color-primary: white;
$color-secondary: black;
$color-background: #e3e1df;
$color-hover: #cd5c5c;
$color-cards: rgba(217, 217, 217, 0.58);
$color-shadow: rgba(0, 0, 0, 0.22);
