.footer__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 55vh;
  gap: 20px;
  @include tablet {
    height: 20vh;
    justify-content: end;
    //gap: 30px;
  }
  &--title {
    font-size: rem(24);
    font-weight: 700;
    margin-top: 20px;
    @include tablet {
      margin-top: 0;
      font-size: rem(30);
    }
    @include desktop {
      font-size: rem(36);
    }
  }
  &--text {
    margin: 0 20px;
    text-align: center;
    font-size: rem(16);
    line-height: 1.5;
    @include tablet {
      margin: 0 100px;
      font-size: rem(18);
      //text-align: left;
    }
    @include desktop {
      margin: 0 200px;
      font-size: rem(20);
    }
  }
  &--tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    @include tablet {
      gap: 15px;
    }
    @include desktop {
      gap: 25px;
    }
    &-icon {
      width: 50px;
      height: 50px;
    }
  }
}
