.main__about {
  //height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include tablet {
    height: 65vh;
    gap: 60px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 0 20px;
  @include tablet {
    margin: 0 100px;
  }
  @include desktop {
    margin: 0 200px;
  }

  &__title {
    font-size: rem(24);
    font-weight: 700;
    margin-bottom: 10px;
    @include tablet {
      font-size: rem(30);
      margin-bottom: 20px;
    }
    @include desktop {
      font-size: rem(36);
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: rem(16);
    line-height: 1.5;
    @include tablet {
      font-size: rem(18);
    }
    @include desktop {
      font-size: rem(20);
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include tablet {
      flex-direction: row-reverse;
      gap: 20px;
    }

    &--photo {
      // border-radius: 50%;
      // border: 2px solid black;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // animation: profile__animate 8s ease-in-out infinite 1s;

      // @keyframes profile__animate {
      //   0% {
      //     border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      //   }
      //   50% {
      //     border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
      //   }
      //   100% {
      //     border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      //   }
      // }

      @include tablet {
        width: 250px;
        height: 250px;
      }
      @include desktop {
        width: 300px;
        height: 300px;
      }
    }
    &--text {
      font-size: rem(16);
      line-height: 1.5;
      @include tablet {
        font-size: rem(18);
        text-align: left;
      }
      @include desktop {
        font-size: rem(20);
      }
    }
  }
}
