.footer__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  gap: 20px;
  @include tablet {
    flex-direction: column;
  }
  &--title {
    font-size: rem(24);
    font-weight: 700;
    @include tablet {
      font-size: rem(30);
    }
    @include desktop {
      font-size: rem(36);
    }
  }
  &--tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    @include tablet {
      gap: 15px;
    }
    @include desktop {
      gap: 25px;
    }
    &-icon {
      width: 50px;
      height: 50px;

      @include desktop {
        width: 60px;
        height: 60px;
      }
    }
  }
}
