.main__about {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include tablet {
    gap: 60px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 0 20px;
  @include tablet {
    margin: 0 100px;
  }
  @include desktop {
    margin: 0 200px;
  }

  &__title {
    font-size: rem(24);
    font-weight: 700;
    // margin-bottom: 10px;
    @include tablet {
      font-size: rem(30);
      margin-bottom: 20px;
    }
    @include desktop {
      font-size: rem(36);
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: rem(16);
    line-height: 1.5;
    @include tablet {
      font-size: rem(18);
    }
    @include desktop {
      font-size: rem(20);
    }
  }
  &__text {
    font-size: rem(16);
    line-height: 1.5;
    @include tablet {
      font-size: rem(18);
    }
    @include desktop {
      font-size: rem(20);
    }
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.icons__about {
  font-size: rem(30);
  @include tablet {
    font-size: rem(40);
  }
}
