.projects__element {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 260px;
  height: 340px;
  background: $color-cards;
  border: 1px solid $color-primary;
  box-shadow: 12px 17px 51px $color-shadow;
  border-radius: 8%;
  transition: all 0.5s;
  &:hover {
    border: 1px solid $color-secondary;
    transform: scale(1.05);
  }

  &--name {
    font-size: rem(16);
  }
  &--text {
    width: 230px;
    text-align: center;
    font-size: rem(13);
  }

  &--img {
    width: 230px;
    height: 200px;
    border-radius: 8%;
    object-fit: cover;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
  }
  &--links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

.projects__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-secondary;
  width: 20px;
  height: 20px;
  font-size: rem(18);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $color-shadow;
  }
}
