.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  gap: 10px;
  margin: 0 20px;
  &__title {
    font-size: rem(24);
    font-weight: 700;
    margin-bottom: 10px;
    @include tablet {
      font-size: rem(30);
    }
    @include desktop {
      font-size: rem(36);
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: rem(16);
    line-height: 1.5;
    @include tablet {
      font-size: rem(18);
    }
    @include desktop {
      font-size: rem(20);
    }
  }
  &__text {
    font-size: rem(16);
    line-height: 1.5;
    @include tablet {
      font-size: rem(18);
    }
    @include desktop {
      font-size: rem(20);
    }
  }
}
