.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  gap: 40px;
  margin: 0 20px;
  @include tablet {
    margin: 0 100px;
  }
  @include desktop {
    margin: 0 200px;
  }
  &__information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &--title {
      font-size: rem(24);
      font-weight: 700;
      margin-bottom: 5px;
      @include tablet {
        font-size: rem(30);
      }
      @include desktop {
        font-size: rem(32);
      }
    }
    &--text {
      font-size: rem(16);
      line-height: 1.5;
      @include tablet {
        font-size: rem(18);
      }
    }
  }

  &__article {
    @include tablet {
      flex-direction: row;
    }
  }
  &__icons {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &--link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      color: $color-secondary;
      &:hover {
        color: $color-hover;
      }
    }
  }
}

.icons {
  font-size: rem(28);
  // @include tablet {
  //   font-size: rem(32);
  // }
}

.icons__text {
  font-size: rem(20);
  // @include tablet {
  //   font-size: rem(22);
  // }
}
