.header__home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  opacity: 85%;
  gap: 15px;
  height: 10vh;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
  @include desktop {
    background-color: inherit;
  }
  &--name {
    text-decoration: none;
    &-title {
      font-size: rem(18);
      color: $color-secondary;
      &:hover {
        color: $color-hover;
      }
      @include tablet {
        font-size: rem(20);
      }
      @include desktop {
        color: $color-primary;
      }
    }
  }
  &--nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    @include tablet {
      gap: 20px;
    }
    @include desktop {
      gap: 40px;
    }

    &-item {
      &-link {
        color: $color-secondary;
        text-decoration: none;
        font-size: rem(18);
        &:hover {
          color: $color-hover;
        }
        @include tablet {
          font-size: rem(20);
        }
      }
    }
  }
}
