.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 20px;
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--photo {
      //   margin: 200px 0 10px 0;
      border-radius: 50%;
      border: 2px solid black;
      width: 180px;
      height: 180px;
      @include tablet {
        width: 250px;
        height: 250px;
      }
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &--name {
      font-size: rem(24);
      font-weight: 700;
      @include tablet {
        font-size: rem(30);
      }
      @include desktop {
        font-size: rem(36);
      }
    }
    &--job {
      font-size: rem(20);
      @include tablet {
        font-size: rem(26);
      }
      @include desktop {
        font-size: rem(30);
      }
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include tablet {
      flex-direction: column;
      gap: 30px;
    }
    @include desktop {
      gap: 35px;
    }
    &--link {
      color: black;
    }
  }
}
