.body {
  width: 100%;
  height: 100vh;
  font-family: $font-web;
  background-color: $color-background;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.heart {
  color: $color-secondary;
}
