.body {
  width: 100%;
  height: 100vh;
  font-family: $font-web;
  background-color: $color-background;
}

.body__home {
  width: 100%;
  height: 100vh;
  font-family: $font-web;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heart {
  color: $color-secondary;
}
